.about-us-body-container{
    background-color: unset;
} 
.about-us-content-image-container{
    width: clamp(250px, 85vw, 1000px);
    height: clamp(250px, 35vw, 900px);
    margin: 2em auto 0 auto;
    position: relative;
}
.about-us-content-image-container> img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.about-us-content-image-container> h2{
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background-color: white;
    font-size: clamp(2rem, 5vw, 4rem);
    border-radius: 0 1em 0 0;
    color: goldenrod;
}
.about-us-content-text-container{
    display: flex;
}
.about-us-second-section-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 2em;
    padding: 50px 0;
}
.about-us-content-text-container{
    flex-direction: column;
    width: 50%;
}
.about-us-content-text-container> h3{
    font-size: clamp(1.5rem, 3vw, 3rem);
}
.about-us-content-text-container > p{
    font-size: clamp(0.9rem, 1.2vw, 1.5rem);
    line-height: 1.5;
}
.about-us-content-text-container > p:nth-child(2){
    padding: 15px 0;
}
.about-us-content-text-container > p:nth-child(3){
    margin-top: 50px;
}
.about-us-content-text-container > p:nth-child(6){
    padding-bottom: 20px;
}
iframe{
    width: 100%;
    height: clamp(300px, 20vw, 400px);
    border: 0;
    border-radius: 0.5em;
}
.why-us-images{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.why-us-images> img{
    width: clamp(250px, 30vw, 1300px);
    height: clamp(200px, 15vw, 1300px);
    border-radius: 0.5em;
    box-shadow: 2px 3px 6px #85746b;
}
.why-us-images> img:first-child{
    margin-top: clamp(30px, 5vw, 100px);
}
.why-us-images> img:nth-child(2){
    transform:translateY(clamp(-100px, -2.5vw, 0px));
    margin-left: auto;
   
}
.why-us-images> img:nth-child(3){
    transform:translateY(clamp(-100px, -5vw, 0px));
}
.why-us-images> img:last-child{
    transform:translateY(clamp(-100px, -9vw, 0px));
    margin-left: auto;
}
.about-us-third-section-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.about-us-third-section-image{
    width: 50%;
}
.about-us-third-section-image> img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 2px 3px 6px #85746b;
}
.mission-vission-container{
    width: 50%;
    display:  flex;
    flex-direction: column;
}
.mission> h3,
.vission> h3{
    width: 80%;
    margin: 0 auto;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: 10px 20px;
    box-shadow: 2px 3px 6px #85746b;
}
.mission> p,
.vission> p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 20px 0;
}
.mission> h3{
    display: flex;
    justify-content: end;
}/*
.about-us-fourth-section-container{
    background-image: url('../images/aboutUs/fourthSection/roast.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-us-fourth-section-container::before,
.about-us-fourth-section-container::after{
    content: "";
    height: 2px;
    width: clamp(10px, 15vw, 350px);
    background-color: white;
}

.about-us-fourth-section-container::before{
    margin-right: 10px;
}
.about-us-fourth-section-container> h3{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
}
.about-us-fourth-section-container> ul{
    display: flex;
    padding: 0 0 0 15px;
}
.about-us-fourth-section-container> ul> li{
    padding: 0 5px;
}
.about-us-fourth-section-container> ul> li> a{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
}
.about-us-fourth-section-container> ul> li> a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}*/
@media only screen and (max-width: 599px){
    .about-us-content-image-container{
        margin: 1em auto 0 auto; 
    }
    .about-us-content-image-container> h2{
        padding: 5px 15px; 
    }
    .about-us-second-section-container{
        width: 100%; 
        padding: 20px 0 0 0; 
    }
    .about-us-content-text-container{
        width: 90%; 
        margin: 0 auto;
    }
    .about-us-content-text-container > p:nth-child(3){
        margin-top: 0px; 
    }
    iframe{
        width: 100%; 
    }
    .why-us-images{
        display: none; 
    }
    .about-us-third-section-container{
        width: 100%; 
        padding: 50px 0 0 0; 
        flex-direction: column; 
    }
    .about-us-third-section-image{
        width: 90%; 
        margin: 0 auto; 
    }
    .mission-vission-container{
        width: 90%; 
        flex-direction: row; 
        gap: 1em; 
        margin: 20px auto 0 auto; 
    }
    .mission> h3,
    .vission> h3{
        width: 100%; 
    }
    .mission> p,
    .vission> p{
        width: 100%; 
    }
    .mission> h3{
        justify-content: start; 
    }
  /*  .about-us-fourth-section-container{
        display: none; 
    }*/
    /*These below are needed for 599*/
    
    .about-us-mobile-container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 99;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.4s ease;
        overflow-x: hidden;
        overflow-y: auto;
         will-change: transform, opacity;
    backface-visibility: hidden;

    }
    .about-us-mobile-container.activeBurger {
        transform: translateX(0);
        opacity: 1;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .about-us-second-section-container{
        width: 95%; 
        gap: 10px; 
        padding: 30px 0; 
    }
    .about-us-content-text-container > p:nth-child(3){
        margin-top: 10px; 
    }
    .about-us-content-text-container > p:nth-child(6){
        padding-bottom: 10px; 
    }
    iframe{
        width: 100%;
    }

    .about-us-third-section-container{
        width: 95%; 
        padding: 30px 0; 
        gap: 15px; 
    }
    .about-us-third-section-image{
        display: flex; 
        align-items: center; 
    }
    .mission> h3,
    .vission> h3{
        width: 100%; 
    }
    .mission> p,
    .vission> p{
        width: 100%; 
        padding: 10px 0; 
    }
   /* .about-us-fourth-section-container{
        padding: 10px 0; 
    }*/
}