
/*Coffee Beans HTML*/
.coffee-beans-first-section{
    background-image: url('/images/coffeeBeans/firstSection/vecteezy_morning-brew-coffee-beans-and-hot-cup_74379678.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: clamp(250px, 60vw, 600px);
    display: flex;
    align-items: center;
}
.coffee-beans-first-section-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: clamp(50px, 10vw, 100px);
}
.coffee-beans-first-section > div > h2,
.coffee-beans-first-section > div > p{
    color: whitesmoke;
    width: 80%;
    margin: 0 auto;
}
.coffee-beans-first-section > div > h2{
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    color: black;
    text-shadow:
    -2px -2px 0 goldenrod,
     2px -2px 0 goldenrod,
    -2px  2px 0 goldenrod,
     2px  2px 0 goldenrod;
}
.coffee-beans-first-section > div > p{
    font-size: clamp(1rem, 2vw, 2rem);
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.coffee-of-the-week{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    padding: 50px 0;
}
.article-left-panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article-left-panel-container-image-container{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.article-left-panel-container-image-container > img{
    width: 90%; 
    height: clamp(250px, 30vw, 600px); 
    border-radius: 1em;
    box-shadow: 0 3px 6px #000000;
}
.article-left-panel-button-list{
    width: clamp(250px, 1.5vw, 500em);
    display: flex;
    justify-content: center;
    gap: clamp(5px, 2.5vw, 50px);
    padding: 0;
    margin: clamp(10px, 2vw, 80px) 0 0 0;
}
.article-left-panel-button{
    width: clamp(40px, 5vw, 100px);
    height: clamp(40px, 5vw, 100px);
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}
.article-left-panel-button > img{
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    border-radius: 1em;
}
.cappuccino-button-carousel{
    opacity: 0.5;
}
.activeButton{
    opacity: 1;
    box-shadow: 0 2px 4px #000000;
}
.article-right-panel-container{
    display: flex;
    flex-direction: column;
}
.article-right-panel-container-text{
    display: flex;
    flex-direction: column;
}
.article-right-panel-container-text > h3{
    margin-top: clamp(10px, 2vw, 30px);
    font-size: clamp(1.3em, 3vw, 4em);
}
.coffee-bean-stars{
    margin-top: 10px;
    font-size: clamp(1.1em, 2.5vw, 3.5em);
    display: flex;
    gap: 3px;
}
.coffee-bean-stars > p{
    margin-right: 20px;
}
.coffee-bean-stars > i{
    font-size: clamp(12px, 1.3vw, 24px);
    margin: auto 0;
    color: goldenrod;
    text-shadow:
    -1px -1px 0 #4F3727,
     1px -1px 0 #4F3727,
    -1px  1px 0 #4F3727,
     1px  1px 0 #4F3727;
}
.article-right-panel-container-text > p:nth-child(3){
    margin-top: 10px;
    font-size: clamp(0.9em, 1.5vw, 2.5em);
}
.article-right-panel-container-text > p:last-child{
    margin-top: 10px;
    font-size: clamp(1.1em, 2vw, 2.5em);
}
.article-right-panel-button-list{
    margin-top: clamp(10px, 5vw, 100px);
    display: flex;
}
.article-right-panel-button-list > button{
    font-size: clamp(0.8em, 1.3vw, 2em);
    background-color: #4F3727;
    border: none;
    color: whitesmoke;
    padding: 
    clamp(5px, 1vw, 15px)
    clamp(10px, 1vw, 30px);
    box-shadow: 0 5px 20px #6F4E37;
    border-radius: 0.25em;
}
.article-right-panel-button-list> button > img{
    margin: 0 10px;
}
@media only screen and (max-width: 599px){
    .article-left-panel-container-image-container{
        width: 90%;
    }
    .article-left-panel-container-image-container > img{
        width: 100%;
    }
    .coffee-of-the-week{
        display: flex;
        flex-direction: column;
    }
    .article-right-panel-container-text{
        width: 90%; 
        margin: 0 auto; 
    }
    .article-right-panel-container-text > h3{
        margin-top: 10px; 
    }
    .article-right-panel-button-list{
        width: 90%; 
        margin: 10px auto 0 auto; 
    }
}
.product-sale-list-container{
    background-color: #7f482f;
    padding: 50px 0;
    position: relative;
}
.product-sale-list-container > h3{
    font-size: clamp(1.3em, 2.5vw, 4em);
}
.product-sale-list-container > p{
    font-size: clamp(0.9em, 1.3vw, 2em); 
    margin-bottom: 30px; 
}
.product-sale-list-container > h3,
.product-sale-list-container > p{
    margin-left: 30px;
    color: goldenrod;
}
.beans-carousel-viewport{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.product-sale-list-item-container{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 0 auto;
    padding: 5px 0;
    transition: transform 0.5s ease-in-out;
    /*display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 60px) / 4);*/   
}
.product-sale-item-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    padding: 10px 0px 20px 0;
    border-radius: 0.5em;
    box-shadow: 0 3px 6px #030303;
    flex: 0 0 calc((100% - 60px) / 4);   
}
.product-sale-item-container > h4{
    margin: 0 0 0 15px;
    font-size: clamp(1.1em, 1.5vw, 2em);
    padding-bottom: 10px;
}
.product-sale-item{
    width: clamp(100px, 15vw, 150px);
    height: clamp(150px, 15vw, 200px);
    margin: 0 auto;
}
.product-sale-item-description{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.product-sale-item-description > p{
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 0 0;
}
.product-sale-item-description > h5{
    width: 90%;
    margin: 0 auto;
    padding: 0 0 1em 0;
    color: goldenrod;
    font-size: clamp(1em, 1.5vw, 2em);
    font-weight: bold;
}
.product-sale-item-description > div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 3px;
}
.product-sale-item-description > div> span{
    font-size: clamp(1.1em, 1.5vw, 2em);
    font-weight: bold;
}
.product-sale-item-description > div > button{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    padding: 
    clamp(1px, 2vw, 10px)
    clamp(3px, 1vw, 15px);
    border: none;
    background-color: goldenrod;
    border-radius: 0.25em;
    font-size: clamp(0.8em, 1.1vw, 2em);
}
.product-sale-item-description > div> button > img{
    width: clamp(15px, 1.5vw, 50px);
}
.product-sale-item-container > h4,
.product-sale-item-description > p,
.product-sale-item-description > div > span{
    color: #4b2b1b;
}
.coffeePrev,
.coffeeNext {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    background: goldenrod;
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    z-index: 1;
    border-radius: 0.25em;
}
.coffeePrev { 
    left: 5px;
}
.coffeeNext { 
    right: 5px; 
}
.coffee-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.coffee-dot {
  width: 30px;
  height: 10px;
  border-radius: 0.25em;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  padding: 0;
}
.coffee-dot.coffeeActive {
  background-color: goldenrod; 
}
@media only screen and (max-width: 599px){
    .product-sale-list-container{
        padding: 20px 0; 
    }
    .product-sale-list-item-container{
        flex-direction: row; 
        width: 100%; 
    }
    .product-sale-item-container{
        flex: unset; 
        width: 80vw; 
        flex-shrink: 0; 
        transition: transform 0.4s ease; 
    }
    .product-sale-item{
        width: clamp(150px, 15vw, 150px);
        height: clamp(200px, 25vw, 200px);
    }
    .product-sale-item-description > div > button{
        padding: 5px 20px;
    }
    .coffeePrev,
    .coffeeNext {
        display: none; 
    }
    .coffee-dots {
      margin-top: 20px; 
    }
    .coffee-dots> button {
      width: 10px; 
      border-radius: 50%; 
    }
    .coffee-dots> button:hover{
        cursor: unset;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .product-sale-list-container > h3,
    .product-sale-list-container > p{
        margin-left: 20px; 
    }
    .product-sale-item-container{
        flex: 0 0 calc((100% - 40px) / 3);
    }
    .coffeePrev,
    .coffeeNext {
        padding: 8px 7.5px; 
    }
    .coffeePrev { 
        left: 0px;
    }
    .coffeeNext { 
        right: 0px; 
    }
}
.other-sale-list-container{
    padding: 50px 0;
}
.other-sale-list-container > h3{
    font-size: clamp(1.3em, 2.5vw, 4em);
    margin-left: 30px;
    padding-bottom: 30px;
}
.other-items-container{
    width: 100%;
}
.other-items-list-container{
    width: 95%;
    margin: 0 auto;
    padding: 0;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.other-items{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    width: 100%;
    padding: 20px 0;
    border-radius: 0.5em;
    position: relative;
    box-shadow: 0 3px 6px #030303;
}
.other-items > h4{
    margin: 0 0 0 15px;
    font-size: clamp(1.2em, 1.5vw, 2em);
    padding-bottom: 10px;
}
.other-sale-item{
    width: clamp(200px, 20vw, 300px);
    height: clamp(200px, 20vw, 350px);
    margin: 0 auto;
}
.other-sale-item-description{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.other-sale-item-description > p{
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 0 0;
}
.other-sale-item-description > h5{
    width: 90%;
    margin: 0 auto;
    padding: 0 0 1em 0;
    color: goldenrod;
    font-size: 1rem;
    font-weight: bold;
}
.other-sale-item-description > div{
    width: 90%;
    margin: auto auto 0 auto;
    display: flex;
    align-items: center;
}
.other-sale-item-description > div> span{
    font-size: clamp(1.2em, 1.5vw, 2em);
    font-weight: bold;
}
.other-sale-item-description > div > button{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 5px 20px;
    border: none;
    background-color: goldenrod;
    border-radius: 0.25em;
}
.other-sale-item-description > div> button > img{
    margin-right: 10px;
    width: clamp(15px, 1.5vw, 50px);
}
.other-sale-list-container > h3,
.other-items > h4,
.other-sale-item-description > p,
.other-sale-item-description > div > span{
    color: #4b2b1b;
}
.cart-float-container{
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: fixed;
    top: 5em;
    right: 1px;
    z-index: 99;
    /*mix-blend-mode: difference;*/
}
.cart-float-container> a{
    padding: 15px;
    border-radius: 50%;
    background-color: goldenrod;
    border: 1px solid #4b2b1b;
    display: flex;
    justify-content: center; 
}
.cart-float-container> span{
    position: inherit;
    margin: 0 0 0 0;
    padding: 0;
    color: #4b2b1b;
    text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
    font-size: clamp(1.2em, 1.3vw, 2em);
    top: 5.5em;
    right: 2em;
}
.article-left-panel-button:hover,
.plus-minus-button-container> button:hover,
.article-right-panel-button-list > button:hover,
.product-sale-item-description > div > button:hover,
.other-sale-item-description > div > button:hover,
#checkout-button{
    cursor: pointer;
}
@media only screen and (max-width: 540px){
    .other-sale-list-container{
        padding: 30px 0 80px 0; 
    }
    .other-items{
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 541px) and (max-width: 599px){
    .other-sale-list-container{
        padding: 30px 0 80px 0; 
    }
    .other-items{
        margin: 0 auto;
    }
    .other-sale-item{
        margin: 0 auto;
    }
    .cart-float-container{
        z-index: 9;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .other-sale-list-container{
        padding: 30px 0 50px 0; 
    }
    .other-sale-list-container > h3{
        margin-left: 20px; 
        padding-bottom: 20px; 
    }
    .other-items{
        margin: 0 auto; 
    }

}